*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-y: hidden; */
  font-family: 'Dancing Script', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Source Sans 3', sans-serif;
}
.container{
  width: 1200px;
  margin: auto;
  padding: auto;
}